<header> 
    <nav
        class="navbar navbar-expand-md"
        style="background-color: darkolivegreen; box-shadow: 0px 20px 15px darkgrey; border-radius: 2px; "
    >   
    <div>
        <img style="height:40px;" src="../../assets/munchielogo.png" />
    </div>

    <a href="/" class="navbar-brand"
      ><b style="letter-spacing: 5px; color:whitesmoke;">MUNCHIE MANAGER</b>
    </a>

    <button style="float: right; margin-left:75%"class="btn btn-primary" *ngIf="!isLoggedIn" (click)="Logout()"> LOGOUT </button>


    </nav>

    

</header>