<div class="container">
    <br>
    <h1 class="heading" style="text-align: center;">MENU ITEMS</h1>
    <br><br>
    <table>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Action</th>
        </tr>


        <tr *ngFor="let item of menu_items">
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>
              <button class="btn btn-success" (click)="AddToCart(item)">Add to Order</button>&nbsp;
          </td>
        </tr>
        
      </table>

</div>


