.center-title {
    display: block;
    margin-left: 45%;
    margin-right: 50%;
    margin-top: 20px;
    width: 50%;
  }

.center-table {
    margin-left: 19%;
    margin-right: 50%;
    margin-top: 20px;
    width: 50%;
}